*{
margin: 0;
padding: 0;

}

body{

background-color: #839ef8;
font-family: 'Roboto', sans-serif;
}
ul{

    list-style: none;
}



/*fonts*/
h1,h2,h3, .price {

    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color:#2d2c2a
    
    }


header{
    text-align: center;
}
header, section {
    max-width: 300px;
    margin: 0 auto;

}

header h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}

header h1 span{
color:#990014

}
header p {
font-size: 14px;
line-height: 16px;
color: rgba(0, 0, 0, 0.7);
}

section {

    margin-bottom: 24px;
}




section h2 {
    background-color: #aab0fe;
    padding: 8px 16px;
    text-align: center;
    margin: 24px;
    font-size: 18px;
}
ul li {

    margin-bottom: 16px;
    display: flex;
}

li.details {
    max-width: 240;
}

.details h3 {

    font-size: 16px;
    margin-bottom: 8px;
    line-height: 19px;
}

.details p {
color: rgba(0, 0, 0, 0.6);
font-size: 14px;
line-height: 21px;

}

header h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}

header h1 span{
color:#995000

}
header p {
font-size: 14px;
line-height: 16px;
color: rgba(0, 0, 0, 0.7);
}

section {

    margin-bottom: 24px;
}




section h2 {
    background-color: #fed7aa;
    padding: 8px 16px;
    text-align: center;
    margin: 24px;
    font-size: 18px;
}
ul li {

    margin-bottom: 16px;
    display: flex;
}

li.details {
    max-width: 240;
}

.details h3 {

    font-size: 16px;
    margin-bottom: 8px;
    line-height: 19px;
}

.details p {
color: rgba(0, 0, 0, 0.6);
font-size: 14px;
line-height: 21px;

}
